footer {
  background-color: #171a21;
  text-align: center;
  padding-top: 20px; }
footer span {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 30px; }
footer p {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 20px; }
footer form {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px; }
footer form * {
  margin: 3px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  border-radius: 5px; }
@keyframes move {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
footer #up {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  animation-name: move;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  z-index: 2; }
footer #credits {
  width: 100%;
  height: 35px;
  background-color: #171a21; }
  footer #credits span {
    font-size: 15px;
    line-height: 35px; }
