$myfont: 'Raleway', sans-serif;
$myblue: #2196F3;

footer{
	&{
		background-color: #171a21;
		text-align: center;
		padding-top: 20px;
	}
	span{
		font-family: $myfont;
		color: white;
		font-size:30px;
	}
	p{
		font-family: $myfont;
		color: white;
		font-size: 20px;
	}
	form{
		font-family: $myfont;
		color: white;
		font-size: 20px;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	form * {
		margin: 3px;
		font-size: 20px;
		font-family: $myfont;
		border-radius: 5px;
	}

	@keyframes move {
    0%   {transform: scale(1.0)}
    50%  {transform: scale(0.9)}
    100% {transform: scale(1.0)}
}

	#up {
		width: 50px;
		height: 50px;
		margin-top: 10px;
		margin-bottom: 30px;
		animation-name: move;
		animation-duration: 1.25s;
		animation-iteration-count: infinite;
	}
	#credits{
		width: 100%;
		height: 35px;
		background-color: #171a21;

		span{
			font-size: 15px;
			line-height:35px;
		}
	}
}